<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/testint/thimira2/shopapotheke-taf-core">
        <classes>
            <class name="TestCases.SA_L_01">
                <methods>
                    <include name="verify_user_can_login_with_valid_credentials"/>
                </methods>
            </class>
            <class name="TestCases.SA_L_02">
                <methods>
                    <include name="verify_user_can_not_login_with_invalid_credentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>